{
  "swagger": "2.0",
  "info": {
    "title": "UiTdatabank v3",
    "description": "Version 3 of the UiTdatabank, a central database of cultural offers in the Flanders region.\\n Most operations require that you authenticate first with your UiTID.",
    "contact": {
      "name": "CultuurNet Vlaanderen vzw",
      "url": "http://www.cultuurnet.be",
      "email": "info@uitdatabank.be"
    },
    "version": "3.0.0"
  },
  "host": "io.uitdatabank.be",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to users"
    },
    {
      "name": "Place",
      "description": "Operations related to places."
    },
    {
      "name": "Event",
      "description": "Operations related to events."
    },
    {
      "name": "Offer",
      "description": "Operations related to all offer types."
    },
    {
      "name": "Label",
      "description": "Operations related to labels."
    },
    {
      "name": "Organizer",
      "description": "Operations related to organizers."
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve all information about the authenticated user.",
        "description": "Authentication is required.",
        "operationId": "getUserInformation",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The information available about the authenticated user.",
            "schema": {
              "required": [
                "id",
                "nick"
              ],
              "properties": {
                "id": {
                  "description": "A universally unique identifier.",
                  "type": "string",
                  "format": "uuid",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                },
                "nick": {
                  "type": "string",
                  "example": "El Pistolero"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a new cultural event.",
        "operationId": "createEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the necessary information to create a new cultural event.",
            "required": true,
            "schema": {
              "required": [
                "name",
                "type",
                "theme",
                "location",
                "calendarType",
                "startDate"
              ],
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Super Awesome Party Night"
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0.50.4.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Concert"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "eventtype"
                      ]
                    }
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A universally unique identifier.",
                      "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the location.",
                      "example": "Versuz"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": 3000
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    }
                  }
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "single",
                    "multiple",
                    "periodic",
                    "permanent"
                  ]
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "string",
                        "enum": [
                          "maandag",
                          "dinsdag",
                          "woensdag",
                          "donderdag",
                          "vrijdag",
                          "zaterdag",
                          "zondag"
                        ]
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                },
                "timestamps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2000-12-30"
                      },
                      "startHour": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "endHour": {
                        "type": "string",
                        "example": "04:20"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "theme": {
                  "type": "object",
                  "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1.2.1.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Architectuur"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "thema"
                      ],
                      "description": "This is hardcoded to 'thema' in the current application. It is passed to the API and then overwritten."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created event.",
            "schema": {
              "required": [
                "eventId",
                "url"
              ],
              "properties": {
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the cultural event.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the cultural event.",
                  "example": "http://udb-silex.dev/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/{cdbid}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "View the details of a specific cultural event.",
        "operationId": "getEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "An event detail.",
            "schema": {
              "required": [
                "@id",
                "name",
                "description",
                "creator",
                "created",
                "publisher",
                "calendarType"
              ],
              "properties": {
                "@id": {
                  "type": "string",
                  "example": "http://culudb-silex.dev:8080/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "name": {
                  "required": [
                    "nl"
                  ],
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Nederlands"
                    },
                    "de": {
                      "type": "string",
                      "example": "Deutch"
                    },
                    "en": {
                      "type": "string",
                      "example": "English"
                    },
                    "fr": {
                      "type": "string",
                      "example": "Français"
                    }
                  }
                },
                "description": {
                  "required": [
                    "nl"
                  ],
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Nederlands"
                    },
                    "de": {
                      "type": "string",
                      "example": "Deutch"
                    },
                    "en": {
                      "type": "string",
                      "example": "English"
                    },
                    "fr": {
                      "type": "string",
                      "example": "Français"
                    }
                  }
                },
                "available": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "image": {
                  "type": "string",
                  "example": "http://media.uitdatabank.be/20150416/153cfa0f-0d22-451e-bfd1-490b7c4ef109.jpg"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "tagged"
                  }
                },
                "calendarSummary": {
                  "type": "string",
                  "example": "Every first day of the month"
                },
                "location": {
                  "required": [
                    "name",
                    "address"
                  ],
                  "properties": {
                    "description": {
                      "required": [
                        "nl"
                      ],
                      "properties": {
                        "nl": {
                          "type": "string",
                          "example": "Nederlands"
                        },
                        "de": {
                          "type": "string",
                          "example": "Deutch"
                        },
                        "en": {
                          "type": "string",
                          "example": "English"
                        },
                        "fr": {
                          "type": "string",
                          "example": "Français"
                        }
                      }
                    },
                    "name": {
                      "required": [
                        "nl"
                      ],
                      "properties": {
                        "nl": {
                          "type": "string",
                          "example": "Nederlands"
                        },
                        "de": {
                          "type": "string",
                          "example": "Deutch"
                        },
                        "en": {
                          "type": "string",
                          "example": "English"
                        },
                        "fr": {
                          "type": "string",
                          "example": "Français"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": 3000
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    },
                    "geo": {
                      "properties": {
                        "latitude": {
                          "type": "string",
                          "description": "The latitude of the location.",
                          "example": "40.75"
                        },
                        "longitude": {
                          "type": "string",
                          "description": "The longitude of the location.",
                          "example": "73.98"
                        }
                      }
                    },
                    "bookingInfo": {
                      "required": [
                        "price",
                        "priceCurrency",
                        "description"
                      ],
                      "properties": {
                        "priceCurrency": {
                          "type": "string",
                          "example": "EUR"
                        },
                        "description": {
                          "type": "string",
                          "example": "No need to pay anything"
                        },
                        "name": {
                          "type": "string",
                          "example": "Free"
                        },
                        "price": {
                          "type": "number",
                          "format": "float",
                          "example": 0
                        }
                      }
                    },
                    "priceInfo": {
                      "type": "array",
                      "items": {
                        "required": [
                          "category",
                          "name",
                          "price",
                          "priceCurrency"
                        ],
                        "properties": {
                          "category": {
                            "type": "string",
                            "enum": [
                              "base",
                              "tariff"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "example": "Senioren"
                          },
                          "price": {
                            "type": "number",
                            "format": "float",
                            "example": 10
                          },
                          "priceCurrency": {
                            "type": "string",
                            "example": "EUR"
                          }
                        }
                      }
                    },
                    "terms": {
                      "type": "array",
                      "items": {
                        "required": [
                          "label",
                          "domain",
                          "id"
                        ],
                        "properties": {
                          "label": {
                            "type": "string",
                            "example": "Cycling"
                          },
                          "domain": {
                            "type": "string",
                            "example": "activities"
                          },
                          "id": {
                            "type": "string",
                            "example": "10.0.0.1"
                          }
                        }
                      }
                    },
                    "workflowStatus": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "READY_FOR_VALIDATION",
                        "APPROVED",
                        "REJECTED",
                        "DELETED"
                      ]
                    }
                  }
                },
                "organizer": {
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "STUK"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": 3000
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    },
                    "contactPoint": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "url",
                            "example": "http://google.be"
                          }
                        },
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email",
                            "example": "joske@2dotstwice.be"
                          }
                        },
                        "phone": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "phone",
                            "example": "0123456789"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "email",
                        "phone"
                      ]
                    },
                    "creator": {
                      "type": "string",
                      "example": "evenementen@stad.diksmuide.be"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "http://www.stuk.be/"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "example": "80f63f49-5de2-42ea-9642-59fc0400f2c5"
                          },
                          "name": {
                            "type": "string",
                            "example": "Mijn label"
                          }
                        }
                      }
                    }
                  }
                },
                "bookingInfo": {
                  "required": [
                    "price",
                    "priceCurrency",
                    "description"
                  ],
                  "properties": {
                    "priceCurrency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "description": {
                      "type": "string",
                      "example": "No need to pay anything"
                    },
                    "name": {
                      "type": "string",
                      "example": "Free"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "example": 0
                    }
                  }
                },
                "priceInfo": {
                  "type": "array",
                  "items": {
                    "required": [
                      "category",
                      "name",
                      "price",
                      "priceCurrency"
                    ],
                    "properties": {
                      "category": {
                        "type": "string",
                        "enum": [
                          "base",
                          "tariff"
                        ]
                      },
                      "name": {
                        "type": "string",
                        "example": "Senioren"
                      },
                      "price": {
                        "type": "number",
                        "format": "float",
                        "example": 10
                      },
                      "priceCurrency": {
                        "type": "string",
                        "example": "EUR"
                      }
                    }
                  }
                },
                "terms": {
                  "type": "array",
                  "items": {
                    "required": [
                      "label",
                      "domain",
                      "id"
                    ],
                    "properties": {
                      "label": {
                        "type": "string",
                        "example": "Cycling"
                      },
                      "domain": {
                        "type": "string",
                        "example": "activities"
                      },
                      "id": {
                        "type": "string",
                        "example": "10.0.0.1"
                      }
                    }
                  }
                },
                "creator": {
                  "type": "string",
                  "example": "evenementen@stad.diksmuide.be"
                },
                "created": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "modified": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "publisher": {
                  "type": "string",
                  "example": "Invoerders Algemeen "
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "unknown",
                    "permanent",
                    "periodic",
                    "single"
                  ],
                  "example": "permanent"
                },
                "typicalAgeRange": {
                  "type": "string",
                  "example": "+18"
                },
                "performer": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the performer.",
                        "example": "Sindicato Sonico"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "sameAs": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "http://www.uitinvlaanderen.be/agenda/e/zomerse-vrijdagen-den-engel/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                  }
                },
                "seeAlso": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "www.leuven.be"
                  }
                },
                "workflowStatus": {
                  "type": "string",
                  "enum": [
                    "DRAFT",
                    "READY_FOR_VALIDATION",
                    "APPROVED",
                    "REJECTED",
                    "DELETED"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/audience": {
      "put": {
        "summary": "Set the target audience for an event.",
        "description": "Authentication is required.",
        "operationId": "setEventAudience",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the audience information to set for the event.",
            "required": true,
            "schema": {
              "properties": {
                "audienceType": {
                  "type": "string",
                  "enum": [
                    "everyone",
                    "members",
                    "education"
                  ],
                  "example": "everyone"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Event"
        ]
      }
    },
    "/events/{cdbid}/bookingInfo": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update the event booking info.",
        "operationId": "updateEventBookingInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the audience information to set for the event.",
            "required": true,
            "schema": {
              "required": [
                "bookingInfo"
              ],
              "properties": {
                "bookingInfo": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "http://google.be"
                    },
                    "urlLabel": {
                      "type": "string",
                      "example": "Reserveer plaatsen"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "joske@2dotstwice.be"
                    },
                    "phone": {
                      "type": "string",
                      "example": "0123456789"
                    },
                    "availabilityStarts": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "availabilityEnds": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/contactPoint": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update the contact point of an event.",
        "operationId": "updateEventContactPoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the contact point for an event.",
            "required": true,
            "schema": {
              "type": "object",
              "required": [
                "url",
                "email",
                "phone"
              ],
              "properties": {
                "url": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "url",
                    "example": "http://google.be"
                  }
                },
                "email": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "email",
                    "example": "joske@2dotstwice.be"
                  }
                },
                "phone": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "phone",
                    "example": "0123456789"
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/labels/": {
      "put": {
        "tags": [
          "Event",
          "Label"
        ],
        "summary": "Add a label to a single cultural event.",
        "description": "Authentication is required.",
        "operationId": "addLabelToEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the label to attach to the cultural event.",
            "required": true,
            "schema": {
              "required": [
                "label"
              ],
              "properties": {
                "label": {
                  "type": "string",
                  "description": "A label name must have a minimum of 2 characters and a maximum of 255 characters and cannot contain a semicolon.",
                  "example": "Bio",
                  "minLength": 2,
                  "maxLength": 255
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/labels/{label}": {
      "delete": {
        "tags": [
          "Event",
          "Label"
        ],
        "summary": "Remove a label from a cultural event.",
        "description": "Authentication is required.",
        "operationId": "removeLabelFromEvent",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "label",
            "in": "path",
            "description": "The label to remove from the cultural event.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/majorInfo": {
      "put": {
        "summary": "Update the event major info.",
        "operationId": "updateEventMajorInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing major info for an event.",
            "required": true,
            "schema": {
              "required": [
                "name",
                "type",
                "theme",
                "location",
                "calendarType",
                "startDate"
              ],
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Super Awesome Party Night"
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0.50.4.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Concert"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "eventtype"
                      ]
                    }
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A universally unique identifier.",
                      "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the location.",
                      "example": "Versuz"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": 3000
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    }
                  }
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "single",
                    "multiple",
                    "periodic",
                    "permanent"
                  ]
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "string",
                        "enum": [
                          "maandag",
                          "dinsdag",
                          "woensdag",
                          "donderdag",
                          "vrijdag",
                          "zaterdag",
                          "zondag"
                        ]
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                },
                "timestamps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2000-12-30"
                      },
                      "startHour": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "endHour": {
                        "type": "string",
                        "example": "04:20"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "theme": {
                  "type": "object",
                  "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1.2.1.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Architectuur"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "thema"
                      ],
                      "description": "This is hardcoded to 'thema' in the current application. It is passed to the API and then overwritten."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Event"
        ]
      }
    },
    "/events/{cdbid}/organizer/{organizerId}": {
      "put": {
        "tags": [
          "Event",
          "Organizer"
        ],
        "summary": "Add an organizer to an event.",
        "operationId": "addEventOrganizer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizerId",
            "in": "path",
            "description": "The unique identifier of an organizer.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Event",
          "Organizer"
        ],
        "summary": "Remove the current organisation from an event.",
        "operationId": "removeEventOrganisation",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizerId",
            "in": "path",
            "description": "The unique identifier of an organizer.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    }
  }
}