{
  "swagger": "2.0",
  "info": {
    "title": "UiTdatabank v3",
    "description": "Version 3 of the UiTdatabank, a central database of cultural offers in the Flanders region.\\n Most operations require that you authenticate first with your UiTID.",
    "contact": {
      "name": "CultuurNet Vlaanderen vzw",
      "url": "http://www.cultuurnet.be",
      "email": "info@uitdatabank.be"
    },
    "version": "3.0.0"
  },
  "host": "io.uitdatabank.be",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to users"
    },
    {
      "name": "Place",
      "description": "Operations related to places."
    },
    {
      "name": "Event",
      "description": "Operations related to events."
    },
    {
      "name": "Offer",
      "description": "Operations related to all offer types."
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve all information about the authenticated user.",
        "description": "Authentication is required.",
        "operationId": "getUserInformation",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The information available about the authenticated user.",
            "schema": {
              "required": [
                "id",
                "nick"
              ],
              "properties": {
                "id": {
                  "description": "A universally unique identifier.",
                  "type": "string",
                  "format": "uuid",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                },
                "nick": {
                  "type": "string",
                  "example": "El Pistolero"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/{cdbId}/{lang}/name": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Update the name of an offer.",
        "description": "Authentication is required.",
        "operationId": "OfferRestBaseController:updateName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "description": "The unique ISO 639-1 2 character language code.",
            "required": true,
            "type": "string",
            "format": "string",
            "enum": [
              "nl",
              "fr",
              "en",
              "du"
            ]
          },
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbId}/theme/{themeId}": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Update the theme of an offer.",
        "description": "Authentication is required.",
        "operationId": "OfferRestBaseController:updateName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "themeId",
            "in": "path",
            "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbId}/type/{typeId}": {
      "put": {
        "tags": [
          "Offer",
          "Event"
        ],
        "summary": "Update the type of an event.",
        "description": "Authentication is required.",
        "operationId": "EditEventRestController:updateType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbId}/calendar": {
      "put": {
        "tags": [
          "Offer",
          "Event"
        ],
        "summary": "Update the calendar of an event.",
        "description": "Authentication is required.",
        "operationId": "EditEventRestController:updateCalendar",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The data required to update the event calendar",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "timeSpans": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "start": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2015-05-07T12:02:53+00:00"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2015-05-07T12:02:53+00:00"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "string",
                        "enum": [
                          "maandag",
                          "dinsdag",
                          "woensdag",
                          "donderdag",
                          "vrijdag",
                          "zaterdag",
                          "zondag"
                        ]
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/places/{cdbId}/{lang}/name": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Update the name of an offer.",
        "description": "Authentication is required.",
        "operationId": "OfferRestBaseController:updateName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "lang",
            "in": "path",
            "description": "The unique ISO 639-1 2 character language code.",
            "required": true,
            "type": "string",
            "format": "string",
            "enum": [
              "nl",
              "fr",
              "en",
              "du"
            ]
          },
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/places/{cdbId}/theme/{themeId}": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Update the theme of an offer.",
        "description": "Authentication is required.",
        "operationId": "OfferRestBaseController:updateName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "themeId",
            "in": "path",
            "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/places/{cdbId}/type/{typeId}": {
      "put": {
        "tags": [
          "Offer",
          "Place"
        ],
        "summary": "Update the type of a place.",
        "description": "Authentication is required.",
        "operationId": "EditPlaceRestController:updateType",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "typeId",
            "in": "path",
            "description": "One of the types available at: http://taxonomy.uitdatabank.be/api/domain/actortype/classification that have parent id 8.15.0.0.0",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/places/{cdbId}/calendar": {
      "put": {
        "tags": [
          "Offer",
          "Place"
        ],
        "summary": "Update the calendar of a place.",
        "description": "Authentication is required.",
        "operationId": "EditPlaceRestController:updateCalendar",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbId",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The data required to update the place calendar",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "string",
                        "enum": [
                          "maandag",
                          "dinsdag",
                          "woensdag",
                          "donderdag",
                          "vrijdag",
                          "zaterdag",
                          "zondag"
                        ]
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    }
  }
}