{
  "swagger": "2.0",
  "info": {
    "title": "UiTdatabank v3",
    "description": "Version 3 of the UiTdatabank, a central database of cultural offers in the Flanders region.\\n Most operations require that you authenticate first with your UiTID.",
    "contact": {
      "name": "CultuurNet Vlaanderen vzw",
      "url": "http://www.cultuurnet.be",
      "email": "info@uitdatabank.be"
    },
    "version": "3.0.0"
  },
  "host": "io.uitdatabank.be",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to users"
    },
    {
      "name": "Place",
      "description": "Operations related to places."
    },
    {
      "name": "Event",
      "description": "Operations related to events."
    },
    {
      "name": "Offer",
      "description": "Operations related to all offer types."
    },
    {
      "name": "Label",
      "description": "Operations related to labels."
    },
    {
      "name": "Organizer",
      "description": "Operations related to organizers."
    },
    {
      "name": "Media",
      "description": "Operations related to media."
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve all information about the authenticated user.",
        "description": "Authentication is required.",
        "operationId": "getUserInformation",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The information available about the authenticated user.",
            "schema": {
              "required": [
                "id",
                "nick"
              ],
              "properties": {
                "id": {
                  "description": "A universally unique identifier.",
                  "type": "string",
                  "format": "uuid",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                },
                "nick": {
                  "type": "string",
                  "example": "El Pistolero"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/user/offers/": {
      "get": {
        "summary": "Retrieve all offers for the current user",
        "description": "Authentication required",
        "operationId": "getUserOffers",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "The number of the page which the paged result should return",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of offers",
            "schema": {
              "properties": {
                "@context": {
                  "type": "string",
                  "example": "http://www.w3.org/ns/hydra/context.jsonld"
                },
                "@type": {
                  "type": "string",
                  "example": "PagedCollection"
                },
                "itemsPerPage": {
                  "type": "integer",
                  "format": "int32",
                  "example": 30
                },
                "totalItems": {
                  "type": "integer",
                  "format": "int32",
                  "example": 1
                },
                "member": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "example": "http://udb-silex.dev/event/7616a359-b95c-48c0-9981-502732b8d957"
                      },
                      "type": {
                        "type": "string",
                        "example": "Event"
                      }
                    }
                  }
                },
                "firstPage": {
                  "type": "string",
                  "example": "http://udb-silex.dev/dashboard/items?page=1"
                },
                "lastPage": {
                  "type": "string",
                  "example": "http://udb-silex.dev/dashboard/items?page=29"
                },
                "nextPage": {
                  "type": "string",
                  "example": "http://udb-silex.dev/dashboard/items?page=2"
                }
              },
              "required": [
                "itemsPerPage",
                "totalItems",
                "member"
              ]
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        },
        "tags": [
          "User"
        ]
      }
    },
    "/events/": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a new cultural event.",
        "operationId": "createEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the necessary information to create a new cultural event.",
            "required": true,
            "schema": {
              "required": [
                "name",
                "type",
                "theme",
                "location",
                "calendarType",
                "startDate"
              ],
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Name example"
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0.50.4.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Concert"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "eventtype"
                      ]
                    }
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A universally unique identifier.",
                      "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the location.",
                      "example": "Versuz"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": "3000"
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    }
                  }
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "single",
                    "multiple",
                    "periodic",
                    "permanent"
                  ],
                  "example": "permanent"
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "sunday"
                          ]
                        }
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                },
                "timestamps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2000-12-30"
                      },
                      "startHour": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "endHour": {
                        "type": "string",
                        "example": "04:20"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "theme": {
                  "type": "object",
                  "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1.2.1.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Architectuur"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "thema"
                      ],
                      "description": "This is hardcoded to 'thema' in the current application. It is passed to the API and then overwritten."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created event.",
            "schema": {
              "required": [
                "eventId",
                "url"
              ],
              "properties": {
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the cultural event.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the cultural event.",
                  "example": "http://udb-silex.dev/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/{cdbid}": {
      "get": {
        "tags": [
          "Event"
        ],
        "summary": "View the details of a specific cultural event.",
        "operationId": "getEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "An event detail.",
            "schema": {
              "required": [
                "@id",
                "name",
                "description",
                "creator",
                "created",
                "publisher",
                "calendarType"
              ],
              "properties": {
                "@id": {
                  "type": "string",
                  "example": "http://culudb-silex.dev:8080/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "name": {
                  "required": [
                    "nl"
                  ],
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Nederlands"
                    },
                    "de": {
                      "type": "string",
                      "example": "Deutch"
                    },
                    "en": {
                      "type": "string",
                      "example": "English"
                    },
                    "fr": {
                      "type": "string",
                      "example": "Français"
                    }
                  }
                },
                "description": {
                  "required": [
                    "nl"
                  ],
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Nederlands"
                    },
                    "de": {
                      "type": "string",
                      "example": "Deutch"
                    },
                    "en": {
                      "type": "string",
                      "example": "English"
                    },
                    "fr": {
                      "type": "string",
                      "example": "Français"
                    }
                  }
                },
                "available": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "image": {
                  "type": "string",
                  "example": "http://media.uitdatabank.be/20150416/153cfa0f-0d22-451e-bfd1-490b7c4ef109.jpg"
                },
                "labels": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "tagged"
                  }
                },
                "calendarSummary": {
                  "type": "string",
                  "example": "Every first day of the month"
                },
                "location": {
                  "required": [
                    "name",
                    "address"
                  ],
                  "properties": {
                    "description": {
                      "required": [
                        "nl"
                      ],
                      "properties": {
                        "nl": {
                          "type": "string",
                          "example": "Nederlands"
                        },
                        "de": {
                          "type": "string",
                          "example": "Deutch"
                        },
                        "en": {
                          "type": "string",
                          "example": "English"
                        },
                        "fr": {
                          "type": "string",
                          "example": "Français"
                        }
                      }
                    },
                    "name": {
                      "required": [
                        "nl"
                      ],
                      "properties": {
                        "nl": {
                          "type": "string",
                          "example": "Nederlands"
                        },
                        "de": {
                          "type": "string",
                          "example": "Deutch"
                        },
                        "en": {
                          "type": "string",
                          "example": "English"
                        },
                        "fr": {
                          "type": "string",
                          "example": "Français"
                        }
                      }
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": "3000"
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    },
                    "geo": {
                      "properties": {
                        "latitude": {
                          "type": "string",
                          "description": "The latitude of the location.",
                          "example": "40.75"
                        },
                        "longitude": {
                          "type": "string",
                          "description": "The longitude of the location.",
                          "example": "73.98"
                        }
                      }
                    },
                    "bookingInfo": {
                      "required": [
                        "price",
                        "priceCurrency",
                        "description"
                      ],
                      "properties": {
                        "priceCurrency": {
                          "type": "string",
                          "example": "EUR"
                        },
                        "description": {
                          "type": "string",
                          "example": "No need to pay anything"
                        },
                        "name": {
                          "type": "string",
                          "example": "Free"
                        },
                        "price": {
                          "type": "number",
                          "format": "float",
                          "example": 0
                        }
                      }
                    },
                    "priceInfo": {
                      "type": "array",
                      "items": {
                        "required": [
                          "category",
                          "name",
                          "price",
                          "priceCurrency"
                        ],
                        "properties": {
                          "category": {
                            "type": "string",
                            "enum": [
                              "base",
                              "tariff"
                            ]
                          },
                          "name": {
                            "type": "string",
                            "example": "Senioren"
                          },
                          "price": {
                            "type": "number",
                            "format": "float",
                            "example": 10
                          },
                          "priceCurrency": {
                            "type": "string",
                            "example": "EUR"
                          }
                        }
                      }
                    },
                    "terms": {
                      "type": "array",
                      "items": {
                        "required": [
                          "label",
                          "domain",
                          "id"
                        ],
                        "properties": {
                          "label": {
                            "type": "string",
                            "example": "Cycling"
                          },
                          "domain": {
                            "type": "string",
                            "example": "activities"
                          },
                          "id": {
                            "type": "string",
                            "example": "10.0.0.1"
                          }
                        }
                      }
                    },
                    "workflowStatus": {
                      "type": "string",
                      "enum": [
                        "DRAFT",
                        "READY_FOR_VALIDATION",
                        "APPROVED",
                        "REJECTED",
                        "DELETED"
                      ]
                    }
                  }
                },
                "organizer": {
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "STUK"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": "3000"
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    },
                    "contactPoint": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "url",
                            "example": "http://google.be"
                          }
                        },
                        "email": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "email",
                            "example": "joske@2dotstwice.be"
                          }
                        },
                        "phone": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "format": "phone",
                            "example": "0123456789"
                          }
                        }
                      },
                      "required": [
                        "url",
                        "email",
                        "phone"
                      ]
                    },
                    "creator": {
                      "type": "string",
                      "example": "evenementen@stad.diksmuide.be"
                    },
                    "created": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "modified": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "http://www.stuk.be/"
                    },
                    "labels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uuid": {
                            "type": "string",
                            "format": "uuid",
                            "example": "80f63f49-5de2-42ea-9642-59fc0400f2c5"
                          },
                          "name": {
                            "type": "string",
                            "example": "Mijn label"
                          }
                        }
                      }
                    }
                  }
                },
                "bookingInfo": {
                  "required": [
                    "price",
                    "priceCurrency",
                    "description"
                  ],
                  "properties": {
                    "priceCurrency": {
                      "type": "string",
                      "example": "EUR"
                    },
                    "description": {
                      "type": "string",
                      "example": "No need to pay anything"
                    },
                    "name": {
                      "type": "string",
                      "example": "Free"
                    },
                    "price": {
                      "type": "number",
                      "format": "float",
                      "example": 0
                    }
                  }
                },
                "priceInfo": {
                  "type": "array",
                  "items": {
                    "required": [
                      "category",
                      "name",
                      "price",
                      "priceCurrency"
                    ],
                    "properties": {
                      "category": {
                        "type": "string",
                        "enum": [
                          "base",
                          "tariff"
                        ]
                      },
                      "name": {
                        "type": "string",
                        "example": "Senioren"
                      },
                      "price": {
                        "type": "number",
                        "format": "float",
                        "example": 10
                      },
                      "priceCurrency": {
                        "type": "string",
                        "example": "EUR"
                      }
                    }
                  }
                },
                "terms": {
                  "type": "array",
                  "items": {
                    "required": [
                      "label",
                      "domain",
                      "id"
                    ],
                    "properties": {
                      "label": {
                        "type": "string",
                        "example": "Cycling"
                      },
                      "domain": {
                        "type": "string",
                        "example": "activities"
                      },
                      "id": {
                        "type": "string",
                        "example": "10.0.0.1"
                      }
                    }
                  }
                },
                "creator": {
                  "type": "string",
                  "example": "evenementen@stad.diksmuide.be"
                },
                "created": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "modified": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "publisher": {
                  "type": "string",
                  "example": "Invoerders Algemeen "
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "unknown",
                    "permanent",
                    "periodic",
                    "single"
                  ],
                  "example": "permanent"
                },
                "typicalAgeRange": {
                  "type": "string",
                  "example": "+18"
                },
                "performer": {
                  "type": "array",
                  "items": {
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "The name of the performer.",
                        "example": "Sindicato Sonico"
                      }
                    },
                    "required": [
                      "name"
                    ]
                  }
                },
                "sameAs": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "http://www.uitinvlaanderen.be/agenda/e/zomerse-vrijdagen-den-engel/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                  }
                },
                "seeAlso": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "example": "www.leuven.be"
                  }
                },
                "workflowStatus": {
                  "type": "string",
                  "enum": [
                    "DRAFT",
                    "READY_FOR_VALIDATION",
                    "APPROVED",
                    "REJECTED",
                    "DELETED"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/audience": {
      "put": {
        "summary": "Set the target audience for an event.",
        "description": "Authentication is required.",
        "operationId": "setEventAudience",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the audience information to set for the event.",
            "required": true,
            "schema": {
              "properties": {
                "audienceType": {
                  "type": "string",
                  "enum": [
                    "everyone",
                    "members",
                    "education"
                  ],
                  "example": "everyone"
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Event"
        ]
      }
    },
    "/events/{cdbid}/bookingInfo": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update the event booking info.",
        "operationId": "updateEventBookingInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the booking info for an offer.",
            "required": true,
            "schema": {
              "required": [
                "bookingInfo"
              ],
              "properties": {
                "bookingInfo": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "url",
                      "example": "http://google.be"
                    },
                    "urlLabel": {
                      "type": "string",
                      "example": "Reserveer plaatsen"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "example": "joske@2dotstwice.be"
                    },
                    "phone": {
                      "type": "string",
                      "example": "0123456789"
                    },
                    "availabilityStarts": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    },
                    "availabilityEnds": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2015-05-07T12:02:53+00:00"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/contactPoint": {
      "put": {
        "tags": [
          "Event"
        ],
        "summary": "Update the contact point of an event.",
        "operationId": "updateEventContactPoint",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the contact point for an offer.",
            "required": true,
            "schema": {
              "properties": {
                "contactPoint": {
                  "type": "object",
                  "required": [
                    "url",
                    "email",
                    "phone"
                  ],
                  "properties": {
                    "url": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "url",
                        "example": "http://google.be"
                      }
                    },
                    "email": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "email",
                        "example": "joske@2dotstwice.be"
                      }
                    },
                    "phone": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "format": "phone",
                        "example": "0123456789"
                      }
                    }
                  }
                }
              },
              "required": [
                "contactPoint"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/labels/{label}": {
      "put": {
        "tags": [
          "Offer",
          "Label"
        ],
        "summary": "Add a label to an offer.",
        "description": "Authentication is required.",
        "operationId": "addLabelToOffer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "label",
            "in": "path",
            "description": "The label to remove from an offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Offer",
          "Label"
        ],
        "summary": "Remove a label from an offer.",
        "description": "Authentication is required.",
        "operationId": "removeLabelFromOffer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "label",
            "in": "path",
            "description": "The label to remove from an offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/organizer": {
      "put": {
        "tags": [
          "Event",
          "Organizer"
        ],
        "summary": "Add an organizer to an event.",
        "operationId": "addEventOrganizer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The UUID of the organizer to add",
            "required": true,
            "schema": {
              "properties": {
                "organizer": {
                  "type": "string",
                  "format": "uuid",
                  "example": "3aad5023-84e2-4ba9-b1ce-201cee64504c"
                }
              },
              "required": [
                "organizer"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/organizer/{organizerId}": {
      "delete": {
        "tags": [
          "Event",
          "Organizer"
        ],
        "summary": "Remove the current organisation from an event.",
        "operationId": "removeEventOrganizer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "organizerId",
            "in": "path",
            "description": "The unique identifier of an organizer.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/priceInfo": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Update the price info of an offer.",
        "operationId": "updateOfferPriceInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An array containing price info objects for an offer.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "required": [
                  "category",
                  "name",
                  "price"
                ],
                "properties": {
                  "category": {
                    "type": "string",
                    "enum": [
                      "base",
                      "tariff"
                    ]
                  },
                  "name": {
                    "type": "string",
                    "example": "Senioren"
                  },
                  "price": {
                    "type": "number",
                    "format": "float",
                    "example": 10
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/typicalAgeRange": {
      "put": {
        "tags": [
          "Offer"
        ],
        "summary": "Set the typical age range of an offer.",
        "operationId": "setOfferTypicalAgeRange",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The age range to set for an offer.",
            "required": true,
            "schema": {
              "properties": {
                "typicalAgeRange": {
                  "type": "string",
                  "example": "1-12"
                }
              },
              "required": [
                "typicalAgeRange"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Offer"
        ],
        "summary": "Remove the typical age range from an offer.",
        "operationId": "removeOfferTypicalAgeRange",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/{lang}/description": {
      "put": {
        "summary": "Translate the description of an offer.",
        "description": "Authentication is required.",
        "operationId": "translateOfferDescription",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "lang",
            "in": "path",
            "description": "The language of the translation.",
            "required": true,
            "type": "string",
            "enum": [
              "nl",
              "fr",
              "de",
              "en"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the description in the given language for a given offer.",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "type": "string",
                  "example": "This is a description."
                }
              },
              "required": [
                "description"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Offer"
        ]
      }
    },
    "/events/{cdbid}/{lang}/name": {
      "put": {
        "summary": "Translate the title of an offer.",
        "description": "Authentication is required.",
        "operationId": "translateOfferTitle",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "lang",
            "in": "path",
            "description": "The language of the translation.",
            "required": true,
            "type": "string",
            "enum": [
              "nl",
              "fr",
              "de",
              "en"
            ]
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the name in the given language.",
            "required": true,
            "schema": {
              "properties": {
                "title": {
                  "type": "string",
                  "example": "An event title"
                }
              },
              "required": [
                "title"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Offer"
        ]
      }
    },
    "/events/{cdbid}/images/": {
      "post": {
        "tags": [
          "Offer",
          "Media"
        ],
        "summary": "Add a MediaObject to an offer",
        "description": "Authentication is required",
        "operationId": "OfferAddImage",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The UUID of the image",
            "required": true,
            "schema": {
              "properties": {
                "mediaObjectId": {
                  "type": "string",
                  "example": "73695986-e4cf-4b29-8699-13d7cd77af8c"
                }
              },
              "required": [
                "mediaObjectId"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/images/main": {
      "put": {
        "tags": [
          "Offer",
          "Media"
        ],
        "summary": "Select the main image of an offer.",
        "description": "Authentication is required",
        "operationId": "SelectOfferMainImage",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "The UUID of the image",
            "required": true,
            "schema": {
              "properties": {
                "mediaObjectId": {
                  "type": "string",
                  "example": "73695986-e4cf-4b29-8699-13d7cd77af8c"
                }
              },
              "required": [
                "mediaObjectId"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/images/{mediaObjectId}": {
      "delete": {
        "tags": [
          "Offer",
          "Media"
        ],
        "summary": "Remove an image from an offer.",
        "description": "Authentication is required",
        "operationId": "RemoveOfferImage",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "mediaObjectId",
            "in": "path",
            "description": "The universally unique identifier of an image.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      },
      "put": {
        "tags": [
          "Offer",
          "Media"
        ],
        "summary": "Update the info of an image.",
        "description": "Authentication is required.",
        "operationId": "updateOfferImage",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "mediaObjectId",
            "in": "path",
            "description": "The universally unique identifier of an image.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the image information that has to be changed.",
            "required": true,
            "schema": {
              "properties": {
                "description": {
                  "type": "string",
                  "description": "A description of the image."
                },
                "copyrightHolder": {
                  "type": "string",
                  "example": "Dirk Dirkington",
                  "description": "The name of the copyright holder."
                }
              },
              "required": [
                "description",
                "copyrightHolder"
              ]
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/events/{cdbid}/permissions/": {
      "get": {
        "summary": "A list of permissions the current user has to an offer.",
        "operationId": "getOfferPermissions",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of permissions",
            "schema": {
              "properties": {
                "permissions": {
                  "type": "array",
                  "example": [
                    "Aanbod bewerken",
                    "Aanbod modereren",
                    "Aanbod verwijderen"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Offer"
        ]
      }
    },
    "/events/{cdbid}/permissions/{userId}": {
      "get": {
        "summary": "A list of permissions the current user has to an offer.",
        "operationId": "getOfferPermissionsPerUser",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "The unique identifier of a user.",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "An array of permissions",
            "schema": {
              "properties": {
                "permissions": {
                  "type": "array",
                  "example": [
                    "Aanbod bewerken",
                    "Aanbod modereren",
                    "Aanbod verwijderen"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        },
        "tags": [
          "Offer"
        ]
      }
    },
    "/places/{cdbid}/labels/{label}": {
      "put": {
        "tags": [
          "Offer",
          "Label"
        ],
        "summary": "Add a label to an offer.",
        "description": "Authentication is required.",
        "operationId": "addLabelToOffer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "label",
            "in": "path",
            "description": "The label to remove from an offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      },
      "delete": {
        "tags": [
          "Offer",
          "Label"
        ],
        "summary": "Remove a label from an offer.",
        "description": "Authentication is required.",
        "operationId": "removeLabelFromOffer",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "cdbid",
            "in": "path",
            "description": "The unique identifier of an offer. The uuid of older items will deviate from the format specification.",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "name": "label",
            "in": "path",
            "description": "The label to remove from an offer.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Info on the command that was queued.",
            "schema": {
              "required": [
                "commandId"
              ],
              "properties": {
                "commandId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "A universally unique identifier.",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          },
          "403": {
            "description": "Access is not allowed for the provided authorization."
          },
          "404": {
            "description": "Offer not found."
          }
        }
      }
    },
    "/places/": {
      "post": {
        "tags": [
          "Place"
        ],
        "summary": "Create a new place.",
        "operationId": "createPlace",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the necessary information to create a new place.",
            "required": true,
            "schema": {
              "required": [
                "name",
                "type",
                "address",
                "calendarType",
                "openingHours"
              ],
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Name example"
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0.50.4.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Concert"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "eventtype"
                      ]
                    }
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A universally unique identifier.",
                      "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the location.",
                      "example": "Versuz"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "description": "The country code of the location.",
                          "example": "BE"
                        },
                        "addressLocality": {
                          "type": "string",
                          "description": "The locality name of the location.",
                          "example": "Leuven"
                        },
                        "postalCode": {
                          "type": "string",
                          "description": "The postalcode of the location.",
                          "example": "3000"
                        },
                        "streetAddress": {
                          "type": "string",
                          "description": "The street name and number information of the location.",
                          "example": "Sluisstraat 79"
                        }
                      },
                      "required": [
                        "addressCountry",
                        "addressLocality",
                        "postalCode",
                        "streetAddress"
                      ]
                    }
                  }
                },
                "address": {
                  "type": "object",
                  "properties": {
                    "addressCountry": {
                      "type": "string",
                      "description": "The country code of the location.",
                      "example": "BE"
                    },
                    "addressLocality": {
                      "type": "string",
                      "description": "The locality name of the location.",
                      "example": "Leuven"
                    },
                    "postalCode": {
                      "type": "string",
                      "description": "The postalcode of the location.",
                      "example": "3000"
                    },
                    "streetAddress": {
                      "type": "string",
                      "description": "The street name and number information of the location.",
                      "example": "Sluisstraat 79"
                    }
                  },
                  "required": [
                    "addressCountry",
                    "addressLocality",
                    "postalCode",
                    "streetAddress"
                  ]
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "single",
                    "multiple",
                    "periodic",
                    "permanent"
                  ],
                  "example": "permanent"
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "enum": [
                            "monday",
                            "tuesday",
                            "wednesday",
                            "thursday",
                            "friday",
                            "saturday",
                            "sunday"
                          ]
                        }
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created event.",
            "schema": {
              "required": [
                "placeId",
                "url"
              ],
              "properties": {
                "placeId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the place.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the place.",
                  "example": "http://culudb-silex.dev:8080/place/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          },
          "400": {
            "description": "An API specific problem occurred.",
            "schema": {
              "properties": {
                "type": {
                  "type": "string",
                  "format": "url"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "integer"
                },
                "validation_messages": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "required": [
                "title",
                "type",
                "status"
              ]
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      },
      "get": {
        "tags": [
          "Place"
        ],
        "summary": "List places.",
        "description": "",
        "operationId": "listPlaces",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "postalCode",
            "in": "query",
            "description": "Limit the list to places located in the area with this postal code.",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A list of places matching the supplied criteria.",
            "schema": {
              "allOf": [
                {
                  "properties": {
                    "itemsPerPage": {
                      "type": "integer",
                      "format": "int32",
                      "example": 30
                    },
                    "totalItems": {
                      "type": "integer",
[...]
