{
  "swagger": "2.0",
  "info": {
    "title": "UiTdatabank v3",
    "description": "Version 3 of the UiTdatabank, a central database of cultural offers in the Flanders region.\\n Most operations require that you authenticate first with your UiTID.",
    "contact": {
      "name": "CultuurNet Vlaanderen vzw",
      "url": "http://www.cultuurnet.be",
      "email": "info@uitdatabank.be"
    },
    "version": "3.0.0"
  },
  "host": "io.uitdatabank.be",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to users"
    },
    {
      "name": "Place",
      "description": "Operations related to places."
    },
    {
      "name": "Event",
      "description": "Operations related to events."
    },
    {
      "name": "Offer",
      "description": "Operations related to all offer types."
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve all information about the authenticated user.",
        "description": "Authentication is required.",
        "operationId": "getUserInformation",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The information available about the authenticated user.",
            "schema": {
              "required": [
                "id",
                "nick"
              ],
              "properties": {
                "id": {
                  "description": "A universally unique identifier.",
                  "type": "string",
                  "format": "uuid",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                },
                "nick": {
                  "type": "string",
                  "example": "El Pistolero"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a new cultural event.",
        "operationId": "createEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the necessary information to create a new cultural event.",
            "required": true,
            "schema": {
              "required": [
                "name",
                "type",
                "theme",
                "location",
                "calendarType",
                "startDate"
              ],
              "properties": {
                "name": {
                  "type": "object",
                  "properties": {
                    "nl": {
                      "type": "string",
                      "example": "Super Awesome Party Night"
                    }
                  }
                },
                "type": {
                  "type": "object",
                  "description": "One of the event types available at: http://taxonomy.uitdatabank.be/api/domain/eventtype/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "0.50.4.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Concert"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "eventtype"
                      ]
                    }
                  }
                },
                "location": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "A universally unique identifier.",
                      "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the location.",
                      "example": "Versuz"
                    },
                    "address": {
                      "type": "object",
                      "properties": {
                        "addressCountry": {
                          "type": "string",
                          "example": "BE",
                          "format": "ISO 3166-1 alpha-2"
                        },
                        "addressLocality": {
                          "type": "string",
                          "example": "Hasselt"
                        },
                        "postalCode": {
                          "type": "string",
                          "format": "postal code",
                          "example": "3500"
                        },
                        "streetAddress": {
                          "type": "string",
                          "example": "Gouverneur Verwilghensingel 70",
                          "format": "street name and number"
                        }
                      }
                    }
                  }
                },
                "calendarType": {
                  "type": "string",
                  "enum": [
                    "single",
                    "multiple",
                    "periodic",
                    "permanent"
                  ]
                },
                "openingHours": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dayOfWeek": {
                        "type": "string",
                        "enum": [
                          "maandag",
                          "dinsdag",
                          "woensdag",
                          "donderdag",
                          "vrijdag",
                          "zaterdag",
                          "zondag"
                        ]
                      },
                      "opens": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "closes": {
                        "type": "string",
                        "example": "06:66"
                      }
                    }
                  }
                },
                "timestamps": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "date": {
                        "type": "string",
                        "format": "date",
                        "example": "2000-12-30"
                      },
                      "startHour": {
                        "type": "string",
                        "example": "04:20"
                      },
                      "endHour": {
                        "type": "string",
                        "example": "04:20"
                      }
                    }
                  }
                },
                "startDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "endDate": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2015-05-07T12:02:53+00:00"
                },
                "theme": {
                  "type": "object",
                  "description": "One of the available themes from http://taxonomy.uitdatabank.be/api/domain/theme/classification",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "1.2.1.0.0"
                    },
                    "label": {
                      "type": "string",
                      "example": "Architectuur"
                    },
                    "domain": {
                      "type": "string",
                      "enum": [
                        "thema"
                      ],
                      "description": "This is hardcoded to 'thema' in the current application. It is passed to the API and then overwritten."
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created event.",
            "schema": {
              "required": [
                "eventId",
                "url"
              ],
              "properties": {
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the cultural event.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the cultural event.",
                  "example": "http://udb-silex.dev/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    }
  }
}