{
  "swagger": "2.0",
  "info": {
    "title": "UiTdatabank v3",
    "description": "Version 3 of the UiTdatabank, a central database of cultural offers in the Flanders region.\\n Most operations require that you authenticate first with your UiTID.",
    "contact": {
      "name": "CultuurNet Vlaanderen vzw",
      "url": "http://www.cultuurnet.be",
      "email": "info@uitdatabank.be"
    },
    "version": "3.0.0"
  },
  "host": "io.uitdatabank.be",
  "basePath": "/",
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "User",
      "description": "Operations related to users"
    },
    {
      "name": "Place",
      "description": "Operations related to places."
    },
    {
      "name": "Event",
      "description": "Operations related to events."
    },
    {
      "name": "Offer",
      "description": "Operations related to all offer types."
    }
  ],
  "paths": {
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Retrieve all information about the authenticated user.",
        "description": "Authentication is required.",
        "operationId": "getUserInformation",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "The information available about the authenticated user.",
            "schema": {
              "required": [
                "id",
                "nick"
              ],
              "properties": {
                "id": {
                  "description": "A universally unique identifier.",
                  "type": "string",
                  "format": "uuid",
                  "example": "6f072ba8-c510-40ac-b387-51f582650e27"
                },
                "nick": {
                  "type": "string",
                  "example": "El Pistolero"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    },
    "/events/": {
      "post": {
        "tags": [
          "Event"
        ],
        "summary": "Create a new cultural event.",
        "operationId": "createEvent",
        "produces": [
          "application/ld+json"
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "An object containing the necessary information to create a new cultural event.",
            "required": true,
            "schema": {
              "required": [
                "eventId",
                "url"
              ],
              "properties": {
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the cultural event.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the cultural event.",
                  "example": "http://udb-silex.dev/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the created event.",
            "schema": {
              "required": [
                "eventId",
                "url"
              ],
              "properties": {
                "eventId": {
                  "type": "string",
                  "format": "uuid",
                  "description": "The unique identifier of the cultural event.",
                  "example": "0823f57e-a6bd-450a-b4f5-8459b4b11043"
                },
                "url": {
                  "type": "string",
                  "format": "url",
                  "description": "The URL of the cultural event.",
                  "example": "http://udb-silex.dev/event/0823f57e-a6bd-450a-b4f5-8459b4b11043"
                }
              }
            }
          },
          "401": {
            "description": "Authentication with UiTID and a valid JWT is required."
          }
        }
      }
    }
  }
}